[submodule "reference/mcu_framework"]
	path = reference/mcu_framework
	url = https://github.com/ZxyKira/mcu_framework.git
[submodule "reference/tool_ring_buffer"]
	path = reference/tool_ring_buffer
	url = https://github.com/ZxyKira/tool_ring_buffer.git
